body{
    /* background-color: purple; */
    background-image: url("Assets/images/NEWBG.jpg");
    background-repeat: no-repeat;
    font: bold;
}
h1 {
    font-size: 60pt !important;
    font-family: 'Courgette', cursive;
    font-family: 'Satisfy', cursive;
    font-family: 'Kaushan Script', cursive !important;
    font-family: 'Fredoka One', cursive;
    color: rgb(255, 238, 0) !important;
}

h5{
    color: yellow;
}